# Python

In [3]:
# python was introduced by Guido van Russom on 20th Feb 1991

In [4]:
# Python is a high level general purpose programming langauge

In [5]:
#Python:
#1 Functional programming language
#2 obeject oriented programming language
#3 Modular programming language
#4 procedeural programming language

In [ ]:
# FEATURES OF PYTHON 
#1  FREEWARE AND OPEN SOURCE
#2  HIGH LEVEL PROGRAMMING LANGUAGE
#3  PLATFORM INDEPENDENT (CAN RUN and EXECUTE A PYTHON PROGRAM ON ANY OS)
#4  PROTABLITY (WE CAN MIGRARE AND EXISTING PYTHON PROGRAM RUNNING IN ONE ENVIRONMENT TO AN ANOTHER ENVIROMENT)
#5  DYAMICALLY TYPED
#6  BOTH OOPS AND PROCEDURAL LANGUAGE 
#7  INTERPRETED
#8  EXTENSIBLE (CAN USE OTHER LANGUAGE PROGRAMS IN PYTHON)--> CAN USE LEGACY CODE
#9  EMBEDDED (CAN USE(EMBED) PYTHON IN OTHER LANGUAGE)
#10 EXTENSIVE LIBRARY

In [ ]:
# FLAVORS OF PYTHON
# CPYTHON --> TO WORK WITH C APPLICATION
# JYTHON --> TO WORK WITH JAVA APPLICATION
# IRONPYTHON --> TO WORK WITH C# APPLICATIONS
# PYPY --> PYTHON FOR SPEED (JIT COMPLIER IS INTRODUCED) PERFORMANCE IS IMPROVED
# RUBYPYTHON --> TO WORK WITH JAVA APPLICATION
# ANACONDA PYTHON --> TO HANDLE LARGE VOLS OF DATA
# STACKLESS --> PYTHON FOR CONCURENCY

# IDENTIFIERS:

In [1]:
# Identifiers: a name in a python program is called an identifier, it can be classname, variable name,
# function name etc...

In [ ]:
# Rules of identifiers:

#1 only allowed chars (a-zA-Z0-9) and (_) 
#2 should not start with digit
#3 case-sensitive (total and Total are diffrent variables)
#4 cant use reserved words as identifiers
#5 no limit for the length of identifiers
#6 ($) symbols not allowed in python

#****NOTE*****
# _abc is private
# __abc strongly private
# __abc__dunder/magic special - methods

In [ ]:
# Reserved words: which have special meaning are called reserved words

In [ ]:
#All keywords are reserved words

In [ ]:
#keywords have a functionality assoiciated with them

In [3]:
import keyword as kw

In [4]:
kw.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [7]:
# True, Fasles None 3
# and,or,not,is 4
# if,else,elif 3
# while,for,in,break,continue,return,yield -7
# try,except,raise,finally,assert -5
# def,class,from,import,global,nonlocal -6
# as,pass,lambda,with,del -5

In [2]:
key_words = (3+4+3+7+5+6+5)
key_words

33

# DATATYPES:

In [12]:
#datatypes: python is a dynamically typed language

In [14]:
x = 10

In [15]:
type(x)

int

### List of datatypes:

In [ ]:
#1 int
#2 float
#3 complex
#4 bool
#5 str

#6  byte
#7  bytearray
#8  list
#9  tuple
#10 set
#11 frozenset
#12 dict
#13 range
#14 None

#### (Datatype) int:

In [3]:
x = 14

In [4]:
# type of object
type(x)

int

In [19]:
# addrerss of object
id(x)

4340829152

In [20]:
# print the value of (x):
print(x)

14

In [ ]:
# **** Note *** evey thing is treated as an object
# type of int 
# class int

In [ ]:
# therefore in python the there is no limit to size of int value b'cause int is an object

In [ ]:
# Four way to represet integral values:

#1 decimal base10
#2 binary base 2
#3 octal base 8
#4 hexadecimal base16

In [ ]:
#1 decimal(base10): allowed values (0-9)

In [ ]:
#2 binary(base2): allowed values(0,1)

In [21]:
#prefix the value with 0b,0B
x = 0B1111

In [22]:
print(x)

15

In [ ]:
#3 Ocatal(base8): allowed values(0-7)

In [36]:
#prefix the value with 0o,0O
x = 0O123

In [37]:
print(x)

83

In [ ]:
#4 hexadecimal(base16): allowed valeus(0-9,a-f,A-F)

In [38]:
#prefix the value with 0x,0X
x = 0X123

In [39]:
print(x)

291

In [ ]:
# ptython provides inbuilt functions for base conversion

In [30]:
a = bin(15)

In [31]:
print(a)

0b1111

In [32]:
a = oct(83)

In [33]:
print(a)

0o123

In [10]:
a = hex(291)

In [12]:
a

'0x123'

In [40]:
print(a)

0x123

##### (DataType) float:

In [44]:
x = 1.23

In [45]:
type(x)

float

In [100]:
## (1.23 * 10power2)
x = 1.23e2

In [98]:
y = 1.23 * (10**2)

In [101]:
print(x,y)

123.0 123.0

##### (DataType) complex:

In [51]:
#complex: a+bj

In [ ]:
#a = real part
#bj = imaginary part

In [ ]:
#...

##### (DataType) bool:

In [52]:
# True and False (1,0)

##### (DataType) str:

In [53]:
s = "j"

In [54]:
type(s)

str

In [55]:
s = "jack"

In [56]:
type(s)

str

In [60]:
#multiline 
s = ''' 
 dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
 dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled i
'''

In [58]:
type(s)

str

In [61]:
print(s)

 dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
 dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled i

In [15]:
s = "The quick brown fox jumps over the lazy dog"

In [63]:
print(s)

The quick brown fox jumps over the lazy dog

In [66]:
# slicing operator:
s[:]

'The quick brown fox jumps over the lazy dog'

In [67]:
s[0]

'T'

In [69]:
s[0:3]

'The'

In [70]:
s[-1]

'g'

In [71]:
s[-2]

'o'

In [19]:
s[::1]

'The quick brown fox jumps over the lazy dog'

In [20]:
s[::2]

'Teqikbonfxjmsoe h aydg'

In [21]:
s[::3]

'T i o xusv ea g'

In [75]:
s[::-1]

'god yzal eht revo spmuj xof nworb kciuq ehT'

In [102]:
#conacat string
s = "shashank" + " " + "ragireddy"+" "

In [103]:
print(s)

shashank ragireddy

In [86]:
# mutiply the strings
s*5

'shashank ragireddy shashank ragireddy shashank ragireddy shashank ragireddy shashank ragireddy '

In [104]:
s.split()

['shashank', 'ragireddy']

In [105]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Type Conversion:

In [88]:
# int()
# float()
# str()
# complex()
# bool()

In [90]:
int(1.634)

1

In [93]:
# internaly True is represent as 1 and False is 0
print(int(True))
print(int(False))

1
0

In [94]:
# complex to int not possible

In [95]:
int('TRUE')

ValueError: invalid literal for int() with base 10: 'TRUE'

In [286]:
int('10')

10

In [106]:
int('10.0')

ValueError: invalid literal for int() with base 10: '10.0'

In [99]:
# with quotes the value shd be only base 10 , not allowed --> strings,floats and any other base

In [ ]:
# float

In [22]:
# any type to float but not complex type
print(float('10'))
print(float('10.4'))
print(float(True))
print(float(False))
# print(float('True')) -- invalid
# with quotes the value shd be only int or float  base 10 , not allowed --> others

10.0
10.4
1.0
0.0

In [ ]:
# complex type :: type conversion

In [105]:
complex(10)

(10+0j)

In [106]:
complex(10.5)

(10.5+0j)

In [107]:
complex(True)

(1+0j)

In [108]:
complex(False)

0j

In [109]:
complex('10')

(10+0j)

In [110]:
complex('10.5')

(10.5+0j)

In [112]:
complex('True')
complex('tan')
# passing str then value shd be int or float

ValueError: complex() arg is a malformed string

In [113]:
complex(10,10)

(10+10j)

In [115]:
complex(10.5,10.5)

(10.5+10.5j)

In [116]:
complex(True,False)

(1+0j)

In [117]:
# bool: any type to bool including complex

In [118]:
# if x is int type 0 means false and non zero true

In [119]:
bool(12)

True

In [120]:
bool(0)

False

In [121]:
bool('asd')

True

In [122]:
bool(10+0J)

True

In [124]:
bool(' ') # non zero

True

In [ ]:
# str: any type to bool including complex

In [127]:
str(89.0) 
# any type to string

'89.0'

In [128]:
# Fundamental Datatypes v/s Immutablity

In [129]:
# obeject creation is a very costly operation: to imporove performance python included object reusablity

In [134]:
a1 = 10
a2 = 10
a3 = 10
a4 = 10
a5 = 10
b1 = 10

In [132]:
print(id(a1))
print(id(a2))
print(id(a3))
print(id(a4))
print(id(a5))

4340829024
4340829024
4340829024
4340829024
4340829024

In [137]:
#a1 is a2
a1 is b1

True

In [148]:
a7 = 256
a8 = 256

In [149]:
a7 is a8

True

In [ ]:
# This is valid up to 0-256

In [150]:
a7 = 257
a8 = 257

In [151]:
a7 is a8

False

In [ ]:
# In the case of bool object will be reused always

In [140]:
x = True
y = True
print(id(x))
print(id(y))

# same for False

4340446032
4340446032

In [139]:
x is y

True

In [144]:
s1 = "shashank"
s2 = "shashank"
s3 = "sashank"

In [145]:
print(id(s1))
print(id(s2))
print(id(s3))

4377939248
4377939248
4377896416

In [146]:
x1 = 10.1
x2 = 10.1

In [147]:
x1 is x2
# In the case of float,complex a new object will be created

False

In [152]:
## *** python fundamental types are immutable and object reusablity is a key feature
# immutable: we are not allowed to change the content

##### (DataType) bytes:

In [170]:
# bytes: are immutable, a group of bytes numbers like an array

In [31]:
x = [1,2,3,4,5]

In [32]:
b = bytes(x)

In [33]:
b

b'\x01\x02\x03\x04\x05'

In [34]:
len(b)

5

In [35]:
b[0]

1

In [37]:
# bytes: are immutable,
b[0] =12

TypeError: 'bytes' object does not support item assignment

In [36]:
for i in b:
    print(i)

1
2
3
4
5

In [158]:
#values allowed 0 upto 256 (256 not included)

In [40]:
x = [100,200,255]
b = bytes(x)

##### (DataType) bytearray:

In [41]:
x = [1,2,3,4,5]

In [42]:
b = bytearray(x)

In [43]:
for i in b:
    print(i)

1
2
3
4
5

In [44]:
# bytearray is muatable
b[0] = 7

In [45]:
for i in b:
    print(i)

7
2
3
4
5

##### (DataType) list:

In [183]:
# list : a group of values within a sqr brackets are called list

In [ ]:
#list: is a ordered sequences that can hold a variety of aboject types 
#lists: are mutable  m

In [184]:
x1 = [100,200,300,400,500]

In [185]:
type(x1)

list

In [186]:
for i in x1:
    print(i)

100
200
300
400
500

In [187]:
l = ["jack",1,True,10.6]

In [188]:
for i in l:
    print(i)

jack
1
True
10.6

### properties of lists:

In [191]:
# properties of lists:
#1 lists can contain duplicates
#2 lists can contain hetrogenous objests
#3 lists are growable (can Add or Remove elements from list)
#4 values shd be encloed within sqr brackets
#5 insertion order is preserved
#6 list is index based
#7 list is mutable

In [ ]:
#important functions of list 
# count methods
# index????
# len funftion

In [55]:
l = eval(input("Enter values"))

Enter values10

In [56]:
type(l)

int

In [57]:
l

10

In [64]:
# Lenght of the list

In [65]:
l = [10,20,30,40,40]

In [66]:
len(l)

5

In [63]:
## List Method - (count): counts the number of ocurrences of the element

In [67]:
l.count(40)

2

## Manipulating list

In [ ]:
# manipulating list 
# append()
# insert()

In [ ]:
## List Method - (append):

In [69]:
l = []

In [70]:
l.append('jack')

In [71]:
l

['jack']

In [72]:
l.append('jill')

In [73]:
l

['jack', 'jill']

In [76]:
l = []

In [77]:
for i in range(101):
    if i%10 == 0:
        l.append(i)

In [78]:
l

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
## List Method - (insert):

In [26]:
l = []

In [30]:
l = [10,20,30,40,50]

In [31]:
l.insert(1,60)

In [32]:
l

[10, 60, 20, 30, 40, 50]

In [33]:
l.insert(100,80)

In [34]:
l

[10, 60, 20, 30, 40, 50, 80]

In [35]:
l.insert(-100,80)

In [ ]:
## List Method - (extend):

In [36]:
l

[80, 10, 60, 20, 30, 40, 50, 80]

In [5]:
l1 = [10,20,30,40]
l2 = [50,60,70]

In [6]:
l1.extend(l2)

In [7]:
l1

[10, 20, 30, 40, 50, 60, 70]

In [8]:
l1 = []

In [9]:
l1.extend('shashank')

In [10]:
l1

['s', 'h', 'a', 's', 'h', 'a', 'n', 'k']

In [ ]:
## List Method - (remove):

In [11]:
l1.remove('a')

In [13]:
l1

['s', 'h', 's', 'h', 'a', 'n', 'k']

In [ ]:
## List Method - (pop):

In [14]:
l1.pop(3)

'h'

In [15]:
l1

['s', 'h', 's', 'a', 'n', 'k']

In [16]:
l = []

In [17]:
l = [10,20,20,30,10,10]

In [19]:
while 10 in l1:
    print('sda')

In [53]:
l = [10,20,20,30,10,10]

In [54]:
print(l.pop())
print(l)

10
[10, 20, 20, 30, 10]

In [ ]:
## List Method - (clear):

In [24]:
l = [10,20,20,30,10,10]

In [26]:
l

[10, 20, 20, 30, 10, 10]

In [27]:
l1.clear()

In [28]:
l1

[]

### Ordering Elements in a list

In [ ]:
# List Method - (reverse):

In [30]:
l = [10,20,30,40,50]

In [31]:
l.reverse()

In [32]:
l

[50, 40, 30, 20, 10]

In [38]:
l = [50, 40, 30, 20, 10]

In [ ]:
# List Method - (sort):

In [36]:
l.sort()

In [37]:
l

[10, 20, 30, 40, 50]

In [107]:
l = [10, 20, 30, 40, 50]

In [111]:
l.sort(reverse=True)

In [112]:
l

[50, 40, 30, 20, 10]

In [ ]:
# sorted and reversed are python functions

In [1]:
l = [10, 20, 30, 40, 50]
l1 = reversed(l)

In [3]:
l1 = reversed(l1)

TypeError: 'list_reverseiterator' object is not reversible

In [59]:
type(l1)

list_reverseiterator

In [118]:
l1

In [2]:
l2 = []
for i in l1:
    print(i)
    l2.append(i)

50
40
30
20
10

In [50]:
l2 = sorted(l)

In [4]:
lx = reversed(l2)

In [5]:
for i in lx:
    print(i)

10
20
30
40
50

In [8]:
1.123e4

11230.0

In [79]:
# List comprehension

In [9]:
x1 = [x*(10**2) for x in range(10)]

In [10]:
x1

[0, 100, 200, 300, 400, 500, 600, 700, 800, 900]

##### (DataType) tuple:

In [216]:
#tuple : this is imutable list

In [192]:
t = (1,2,3,4,5)

In [193]:
for i in t:
    print(i)

1
2
3
4
5

In [209]:
t = ("ravi1","ravi2","shiva","jack1","jack3","jack4")

In [210]:
t

('ravi1', 'ravi2', 'shiva', 'jack1', 'jack3', 'jack4')

#####  (DataType) set:

In [215]:
#set: duplicates not allowed and order is not preserved

In [80]:
s1 = set()
s2 = set()

In [81]:
s1 = {1,2,3,4,5,6,7,7,7,'sds'}

In [84]:
type(s1)

set

In [82]:
s2 = {'ravi1', 'ravi2', 'shiva', 'jack1', 'jack3', 'jack4'}

In [214]:
# order not preserved 
s2

{'jack1', 'jack3', 'jack4', 'ravi1', 'ravi2', 'shiva'}

In [217]:
print(type(s1))
print(type(s2))

<class 'set'>
<class 'set'>

#####  (Datatype) Frozen set:

In [ ]:
# frozenset: is immutable

In [229]:
s = [1,2,3,4,5]
fs = frozenset(s)

In [230]:
for i in s:
    print(i)

1
2
3
4
5

#### (DataType) dict:

In [231]:
# dict: stores values in key,value form, order not preserved but mutable

In [221]:
d = {"name":"shashank","color":"Black","age":35,"Human": True}

In [222]:
for k,v in d.items():
    print(k,v)

name shashank
color Black
age 35
Human True

In [227]:
for k in d.keys():
    print(k)

name
color
age
Human

In [228]:
for v in d.values():
    print(v)

shashank
Black
35
True

In [241]:
d["color"] = "Red"

In [239]:
for v in d.values():
    print(v)

shashank
35
True

In [242]:
del(d["color"])

#### (DataType) range:

In [ ]:
range:

In [244]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### (DataType) None:

In [270]:
i = None

In [271]:
type(i)

NoneType

# Operators:

In [272]:
# Types of operators:

#1 Arithematic operators [+,-,%,/,*,//,**,]
#2 comparision operators
#3 logical operators
#4 assignment operators
#5 bitwise operators
#6 special operators

## 1 Arithematic operators [+, -, %, /, *, //, ***]

In [277]:
#1 Arithematic operators [+,-,%,/,*,//,**,]

# // floor division operator
print("Division :",7/3)
print("Floor division",7//3)

Division : 2.3333333333333335
Floor division 2

In [276]:
# ** power operator
print("Multiplying 2 and 3",2*3)
print("power 2^3 : ",2**3)

Multiplying 2 and 3 6
power 2^3 :  8

In [278]:
# zero division error
# anyval/0 is always zero division error

In [279]:
name = "Shashank "
5*name

'Shashank Shashank Shashank Shashank Shashank '

## 2 comparision operators (>, <, >= , <=)

## 3  Equality operator ( ==, !=)

## 4 Logical operators (and, or , not)

## 5 bitwise operator  (&,|,^,~,<<,>>,) ?????

In [282]:
# & valid for int and bool operator

In [283]:
# 4 is 1, 5 is 1
print(4&5)

4

In [284]:
print(0&1)

0